<form method="POST" action="/criteria-search">
  <div id="criteria-selector" class="select7_container">
    <div class="select7_arrow">&#9662;</div>
    <div class="select7_placeholder">Sélection code APE</div>
    <select class="select7_select" onchange="add_selected_item(this, event);">
        <option class="select7_hide" value="filler"></option>
        <option value="0111Z">01.11Z	Culture de céréales (à l'exception du riz), de légumineuses et de graines oléagineuses</option>
        <option value="0112Z">01.12Z	Culture du riz</option>
        <option value="0113Z">01.13Z	Culture de légumes, de melons, de racines et de tubercules</option>
        <option value="0114Z">01.14Z	Culture de la canne à sucre</option>
        <option value="0115Z">01.15Z	Culture du tabac</option>
        <option value="0116Z">01.16Z	Culture de plantes à fibres</option>
        <option value="0119Z">01.19Z	Autres cultures non permanentes</option>
        <option value="0121Z">01.21Z	Culture de la vigne</option>
        <option value="0122Z">01.22Z	Culture de fruits tropicaux et subtropicaux</option>
        <option value="0123Z">01.23Z	Culture d'agrumes</option>
        <option value="0124Z">01.24Z	Culture de fruits à pépins et à noyau</option>
        <option value="0125Z">01.25Z	Culture d'autres fruits d'arbres ou d'arbustes et de fruits à coque</option>
        <option value="0126Z">01.26Z	Culture de fruits oléagineux</option>
        <option value="0127Z">01.27Z	Culture de plantes à boissons</option>
        <option value="0128Z">01.28Z	Culture de plantes à épices, aromatiques, médicinales et pharmaceutiques</option>
        <option value="0129Z">01.29Z	Autres cultures permanentes</option>
        <option value="0130Z">01.30Z	Reproduction de plantes</option>
        <option value="0141Z">01.41Z	Élevage de vaches laitières</option>
        <option value="0142Z">01.42Z	Élevage d'autres bovins et de buffles</option>
        <option value="0143Z">01.43Z	Élevage de chevaux et d'autres équidés</option>
        <option value="0144Z">01.44Z	Élevage de chameaux et d'autres camélidés</option>
        <option value="0145Z">01.45Z	Élevage d'ovins et de caprins</option>
        <option value="0146Z">01.46Z	Élevage de porcins</option>
        <option value="0147Z">01.47Z	Élevage de volailles</option>
        <option value="0149Z">01.49Z	Élevage d'autres animaux</option>
        <option value="0150Z">01.50Z	Culture et élevage associés</option>
        <option value="0161Z">01.61Z	Activités de soutien aux cultures</option>
        <option value="0162Z">01.62Z	Activités de soutien à la production animale</option>
        <option value="0163Z">01.63Z	Traitement primaire des récoltes</option>
        <option value="0164Z">01.64Z	Traitement des semences</option>
        <option value="0170Z">01.70Z	Chasse, piégeage et services annexes</option>
        <option value="0210Z">02.10Z	Sylviculture et autres activités forestières</option>
        <option value="0220Z">02.20Z	Exploitation forestière</option>
        <option value="0230Z">02.30Z	Récolte de produits forestiers non ligneux poussant à l'état sauvage</option>
        <option value="0240Z">02.40Z	Services de soutien à l'exploitation forestière</option>
        <option value="0311Z">03.11Z	Pêche en mer</option>
        <option value="0312Z">03.12Z	Pêche en eau douce</option>
        <option value="0321Z">03.21Z	Aquaculture en mer</option>
        <option value="0322Z">03.22Z	Aquaculture en eau douce</option>
        <option value="0510Z">05.10Z	Extraction de houille</option>
        <option value="0520Z">05.20Z	Extraction de lignite</option>
        <option value="0610Z">06.10Z	Extraction de pétrole brut</option>
        <option value="0620Z">06.20Z	Extraction de gaz naturel</option>
        <option value="0710Z">07.10Z	Extraction de minerais de fer</option>
        <option value="0721Z">07.21Z	Extraction de minerais d'uranium et de thorium</option>
        <option value="0729Z">07.29Z	Extraction d'autres minerais de métaux non ferreux</option>
        08.11Z	Extraction de pierres ornementales et de construction, de calcaire industriel, de gypse, de craie et <option value="d'arois">d'ardoise</option>
        <option value="0812Z">08.12Z	Exploitation de gravières et sablières, extraction d’argiles et de kaolin</option>
        <option value="0891Z">08.91Z	Extraction des minéraux chimiques et d'engrais minéraux </option>
        <option value="0892Z">08.92Z	Extraction de tourbe</option>
        <option value="0893Z">08.93Z	Production de sel </option>
        <option value="0899Z">08.99Z	Autres activités extractives n.c.a.</option>
        <option value="0910Z">09.10Z	Activités de soutien à l'extraction d'hydrocarbures</option>
        <option value="0990Z">09.90Z	Activités de soutien aux autres industries extractives </option>
        <option value="1011Z">10.11Z	Transformation et conservation de la viande de boucherie</option>
        <option value="1012Z">10.12Z	Transformation et conservation de la viande de volaille</option>
        <option value="1020Z">10.20Z	Transformation et conservation de poisson, de crustacés et de mollusques</option>
        <option value="1031Z">10.31Z	Transformation et conservation de pommes de terre</option>
        <option value="1032Z">10.32Z	Préparation de jus de fruits et légumes</option>
        <option value="1042Z">10.42Z	Fabrication de margarine et graisses comestibles similaires</option>
        <option value="1052Z">10.52Z	Fabrication de glaces et sorbets</option>
        <option value="1062Z">10.62Z	Fabrication de produits amylacés</option>
        <option value="1072Z">10.72Z	Fabrication de biscuits, biscottes et pâtisseries de conservation</option>
        <option value="1073Z">10.73Z	Fabrication de pâtes alimentaires</option>
        <option value="1081Z">10.81Z	Fabrication de sucre</option>
        <option value="1082Z">10.82Z	Fabrication de cacao, chocolat et de produits de confiserie</option>
        <option value="1083Z">10.83Z	Transformation du thé et du café</option>
        <option value="1084Z">10.84Z	Fabrication de condiments et assaisonnements</option>
        <option value="1085Z">10.85Z	Fabrication de plats préparés</option>
        <option value="1086Z">10.86Z	Fabrication d'aliments homogénéisés et diététiques</option>
        <option value="1089Z">10.89Z	Fabrication d'autres produits alimentaires n.c.a.</option>
        <option value="1091Z">10.91Z	Fabrication d'aliments pour animaux de ferme</option>
        <option value="1092Z">10.92Z	Fabrication d'aliments pour animaux de compagnie</option>
        <option value="1101Z">11.01Z	Production de boissons alcooliques distillées</option>
        <option value="1103Z">11.03Z	Fabrication de cidre et de vins de fruits </option>
        <option value="1104Z">11.04Z	Production d'autres boissons fermentées non distillées</option>
        <option value="1105Z">11.05Z	Fabrication de bière</option>
        <option value="1106Z">11.06Z	Fabrication de malt</option>
        <option value="1200Z">12.00Z	Fabrication de produits à base de tabac</option>
        <option value="1310Z">13.10Z	Préparation de fibres textiles et filature</option>
        <option value="1320Z">13.20Z	Tissage</option>
        <option value="1330Z">13.30Z	Ennoblissement textile</option>
        <option value="1391Z">13.91Z	Fabrication d'étoffes à mailles</option>
        <option value="1392Z">13.92Z	Fabrication d'articles textiles, sauf habillement</option>
        <option value="1393Z">13.93Z	Fabrication de tapis et moquettes</option>
        <option value="1394Z">13.94Z	Fabrication de ficelles, cordes et filets</option>
        <option value="1395Z">13.95Z	Fabrication de non-tissés, sauf habillement</option>
        <option value="1396Z">13.96Z	Fabrication d'autres textiles techniques et industriels</option>
        <option value="1399Z">13.99Z	Fabrication d'autres textiles n.c.a.</option>
        <option value="1411Z">14.11Z	Fabrication de vêtements en cuir</option>
        <option value="1412Z">14.12Z	Fabrication de vêtements de travail</option>
        <option value="1413Z">14.13Z	Fabrication de vêtements de dessus</option>
        <option value="1414Z">14.14Z	Fabrication de vêtements de dessous</option>
        <option value="1419Z">14.19Z	Fabrication d'autres vêtements et accessoires</option>
        <option value="1420Z">14.20Z	Fabrication d'articles en fourrure</option>
        <option value="1431Z">14.31Z	Fabrication d'articles chaussants à mailles</option>
        <option value="1439Z">14.39Z	Fabrication d'autres articles à mailles</option>
        <option value="1511Z">15.11Z	Apprêt et tannage des cuirs ; préparation et teinture des fourrures</option>
        <option value="1512Z">15.12Z	Fabrication d'articles de voyage, de maroquinerie et de sellerie</option>
        <option value="1520Z">15.20Z	Fabrication de chaussures</option>
        <option value="1621Z">16.21Z	Fabrication de placage et de panneaux de bois</option>
        <option value="1622Z">16.22Z	Fabrication de parquets assemblés</option>
        <option value="1623Z">16.23Z	Fabrication de charpentes et d'autres menuiseries</option>
        <option value="1624Z">16.24Z	Fabrication d'emballages en bois</option>
        <option value="1629Z">16.29Z	Fabrication d'objets divers en bois ; fabrication d'objets en liège, vannerie et sparterie</option>
        <option value="1711Z">17.11Z	Fabrication de pâte à papier</option>
        <option value="1712Z">17.12Z	Fabrication de papier et de carton</option>
        <option value="1722Z">17.22Z	Fabrication d'articles en papier à usage sanitaire ou domestique</option>
        <option value="1723Z">17.23Z	Fabrication d'articles de papeterie</option>
        <option value="1724Z">17.24Z	Fabrication de papiers peints</option>
        <option value="1729Z">17.29Z	Fabrication d'autres articles en papier ou en carton</option>
        <option value="1811Z">18.11Z	Imprimerie de journaux</option>
        <option value="1812Z">18.12Z	Autre imprimerie (labeur)</option>
        <option value="1813Z">18.13Z	Activités de pré-presse </option>
        <option value="1814Z">18.14Z	Reliure et activités connexes</option>
        <option value="1820Z">18.20Z	Reproduction d'enregistrements</option>
        <option value="1910Z">19.10Z	Cokéfaction</option>
        <option value="1920Z">19.20Z	Raffinage du pétrole</option>
        <option value="2011Z">20.11Z	Fabrication de gaz industriels</option>
        <option value="2012Z">20.12Z	Fabrication de colorants et de pigments</option>
        <option value="2014Z">20.14Z	Fabrication d'autres produits chimiques organiques de base</option>
        <option value="2015Z">20.15Z	Fabrication de produits azotés et d'engrais</option>
        <option value="2016Z">20.16Z	Fabrication de matières plastiques de base</option>
        <option value="2017Z">20.17Z	Fabrication de caoutchouc synthétique</option>
        <option value="2020Z">20.20Z	Fabrication de pesticides et d’autres produits agrochimiques</option>
        <option value="2030Z">20.30Z	Fabrication de peintures, vernis, encres et mastics</option>
        <option value="2041Z">20.41Z	Fabrication de savons, détergents et produits d'entretien</option>
        <option value="2042Z">20.42Z	Fabrication de parfums et de produits pour la toilette</option>
        <option value="2051Z">20.51Z	Fabrication de produits explosifs</option>
        <option value="2052Z">20.52Z	Fabrication de colles</option>
        <option value="2053Z">20.53Z	Fabrication d'huiles essentielles</option>
        <option value="2059Z">20.59Z	Fabrication d'autres produits chimiques n.c.a.</option>
        <option value="2060Z">20.60Z	Fabrication de fibres artificielles ou synthétiques</option>
        <option value="2110Z">21.10Z	Fabrication de produits pharmaceutiques de base</option>
        <option value="2120Z">21.20Z	Fabrication de préparations pharmaceutiques</option>
        <option value="2211Z">22.11Z	Fabrication et rechapage de pneumatiques</option>
        <option value="2219Z">22.19Z	Fabrication d'autres articles en caoutchouc</option>
        <option value="2221Z">22.21Z	Fabrication de plaques, feuilles, tubes et profilés en matières plastiques</option>
        <option value="2222Z">22.22Z	Fabrication d'emballages en matières plastiques</option>
        <option value="2223Z">22.23Z	Fabrication d'éléments en matières plastiques pour la construction</option>
        <option value="2311Z">23.11Z	Fabrication de verre plat</option>
        <option value="2312Z">23.12Z	Façonnage et transformation du verre plat</option>
        <option value="2313Z">23.13Z	Fabrication de verre creux</option>
        <option value="2314Z">23.14Z	Fabrication de fibres de verre</option>
        <option value="2319Z">23.19Z	Fabrication et façonnage d'autres articles en verre, y compris verre technique</option>
        <option value="2320Z">23.20Z	Fabrication de produits réfractaires</option>
        <option value="2331Z">23.31Z	Fabrication de carreaux en céramique</option>
        <option value="2332Z">23.32Z	Fabrication de briques, tuiles et produits de construction, en terre cuite</option>
        <option value="2341Z">23.41Z	Fabrication d'articles céramiques à usage domestique ou ornemental</option>
        <option value="2342Z">23.42Z	Fabrication d'appareils sanitaires en céramique</option>
        <option value="2343Z">23.43Z	Fabrication d'isolateurs et pièces isolantes en céramique</option>
        <option value="2344Z">23.44Z	Fabrication d'autres produits céramiques à usage technique</option>
        <option value="2349Z">23.49Z	Fabrication d'autres produits céramiques</option>
        <option value="2351Z">23.51Z	Fabrication de ciment</option>
        <option value="2352Z">23.52Z	Fabrication de chaux et plâtre</option>
        <option value="2361Z">23.61Z	Fabrication d'éléments en béton pour la construction</option>
        <option value="2362Z">23.62Z	Fabrication d'éléments en plâtre pour la construction</option>
        <option value="2363Z">23.63Z	Fabrication de béton prêt à l'emploi</option>
        <option value="2364Z">23.64Z	Fabrication de mortiers et bétons secs</option>
        <option value="2365Z">23.65Z	Fabrication d'ouvrages en fibre-ciment</option>
        <option value="2369Z">23.69Z	Fabrication d'autres ouvrages en béton, en ciment ou en plâtre</option>
        <option value="2370Z">23.70Z	Taille, façonnage et finissage de pierres</option>
        <option value="2391Z">23.91Z	Fabrication de produits abrasifs</option>
        <option value="2399Z">23.99Z	Fabrication d'autres produits minéraux non métalliques n.c.a.</option>
        <option value="2410Z">24.10Z	Sidérurgie</option>
        <option value="2420Z">24.20Z	Fabrication de tubes, tuyaux, profilés creux et accessoires correspondants en acier </option>
        <option value="2431Z">24.31Z	Étirage à froid de barres</option>
        <option value="2432Z">24.32Z	Laminage à froid de feuillards</option>
        <option value="2433Z">24.33Z	Profilage à froid par formage ou pliage</option>
        <option value="2434Z">24.34Z	Tréfilage à froid</option>
        <option value="2441Z">24.41Z	Production de métaux précieux</option>
        <option value="2442Z">24.42Z	Métallurgie de l'aluminium</option>
        <option value="2443Z">24.43Z	Métallurgie du plomb, du zinc ou de l'étain</option>
        <option value="2444Z">24.44Z	Métallurgie du cuivre</option>
        <option value="2445Z">24.45Z	Métallurgie des autres métaux non ferreux</option>
        <option value="2446Z">24.46Z	Élaboration et transformation de matières nucléaires</option>
        <option value="2451Z">24.51Z	Fonderie de fonte</option>
        <option value="2452Z">24.52Z	Fonderie d'acier</option>
        <option value="2453Z">24.53Z	Fonderie de métaux légers</option>
        <option value="2454Z">24.54Z	Fonderie d'autres métaux non ferreux</option>
        <option value="2511Z">25.11Z	Fabrication de structures métalliques et de parties de structures</option>
        <option value="2512Z">25.12Z	Fabrication de portes et fenêtres en métal</option>
        <option value="2521Z">25.21Z	Fabrication de radiateurs et de chaudières pour le chauffage central</option>
        <option value="2529Z">25.29Z	Fabrication d'autres réservoirs, citernes et conteneurs métalliques</option>
        <option value="2530Z">25.30Z	Fabrication de générateurs de vapeur, à l'exception des chaudières pour le chauffage central</option>
        <option value="2540Z">25.40Z	Fabrication d'armes et de munitions</option>
        <option value="2561Z">25.61Z	Traitement et revêtement des métaux</option>
        <option value="2571Z">25.71Z	Fabrication de coutellerie</option>
        <option value="2572Z">25.72Z	Fabrication de serrures et de ferrures</option>
        <option value="2591Z">25.91Z	Fabrication de fûts et emballages métalliques similaires</option>
        <option value="2592Z">25.92Z	Fabrication d'emballages métalliques légers</option>
        <option value="2593Z">25.93Z	Fabrication d'articles en fils métalliques, de chaînes et de ressorts</option>
        <option value="2594Z">25.94Z	Fabrication de vis et de boulons</option>
        <option value="2611Z">26.11Z	Fabrication de composants électroniques</option>
        <option value="2612Z">26.12Z	Fabrication de cartes électroniques assemblées</option>
        <option value="2620Z">26.20Z	Fabrication d'ordinateurs et d'équipements périphériques</option>
        <option value="2630Z">26.30Z	Fabrication d'équipements de communication </option>
        <option value="2640Z">26.40Z	Fabrication de produits électroniques grand public</option>
        <option value="2652Z">26.52Z	Horlogerie</option>
        <option value="2660Z">26.60Z	Fabrication d'équipements d'irradiation médicale, d'équipements électromédicaux et électrothérapeutiques </option>
        <option value="2670Z">26.70Z	Fabrication de matériels optique et photographique</option>
        <option value="2680Z">26.80Z	Fabrication de supports magnétiques et optiques</option>
        <option value="2711Z">27.11Z	Fabrication de moteurs, génératrices et transformateurs électriques</option>
        <option value="2712Z">27.12Z	Fabrication de matériel de distribution et de commande électrique</option>
        <option value="2720Z">27.20Z	Fabrication de piles et d'accumulateurs électriques</option>
        <option value="2731Z">27.31Z	Fabrication de câbles de fibres optiques</option>
        <option value="2732Z">27.32Z	Fabrication d'autres fils et câbles électroniques ou électriques</option>
        <option value="2733Z">27.33Z	Fabrication de matériel d'installation électrique</option>
        <option value="2740Z">27.40Z	Fabrication d'appareils d'éclairage électrique</option>
        <option value="2751Z">27.51Z	Fabrication d'appareils électroménagers</option>
        <option value="2752Z">27.52Z	Fabrication d'appareils ménagers non électriques</option>
        <option value="2790Z">27.90Z	Fabrication d'autres matériels électriques</option>
        <option value="2811Z">28.11Z	Fabrication de moteurs et turbines, à l'exception des moteurs d’avions et de véhicules</option>
        <option value="2812Z">28.12Z	Fabrication d'équipements hydrauliques et pneumatiques</option>
        <option value="2813Z">28.13Z	Fabrication d'autres pompes et compresseurs</option>
        <option value="2814Z">28.14Z	Fabrication d'autres articles de robinetterie</option>
        <option value="2815Z">28.15Z	Fabrication d'engrenages et d'organes mécaniques de transmission</option>
        <option value="2821Z">28.21Z	Fabrication de fours et brûleurs</option>
        <option value="2822Z">28.22Z	Fabrication de matériel de levage et de manutention</option>
        28.23Z	Fabrication de machines et d'équipements de bureau (à l'exception des ordinateurs et équipements périphériques)<option valu="<"></option>
        <option value="2824Z">28.24Z	Fabrication d'outillage portatif à moteur incorporé</option>
        <option value="2825Z">28.25Z	Fabrication d'équipements aérauliques et frigorifiques industriels</option>
        <option value="2830Z">28.30Z	Fabrication de machines agricoles et forestières</option>
        <option value="2841Z">28.41Z	Fabrication de machines-outils pour le travail des métaux</option>
        <option value="2849Z">28.49Z	Fabrication d'autres machines-outils </option>
        <option value="2891Z">28.91Z	Fabrication de machines pour la métallurgie</option>
        <option value="2892Z">28.92Z	Fabrication de machines pour l'extraction ou la construction</option>
        <option value="2893Z">28.93Z	Fabrication de machines pour l'industrie agro-alimentaire</option>
        <option value="2894Z">28.94Z	Fabrication de machines pour les industries textiles</option>
        <option value="2895Z">28.95Z	Fabrication de machines pour les industries du papier et du carton</option>
        <option value="2896Z">28.96Z	Fabrication de machines pour le travail du caoutchouc ou des plastiques</option>
        <option value="2910Z">29.10Z	Construction de véhicules automobiles</option>
        <option value="2920Z">29.20Z	Fabrication de carrosseries et remorques</option>
        <option value="2931Z">29.31Z	Fabrication d'équipements électriques et électroniques automobiles</option>
        <option value="2932Z">29.32Z	Fabrication d'autres équipements automobiles</option>
        <option value="3011Z">30.11Z	Construction de navires et de structures flottantes</option>
        <option value="3012Z">30.12Z	Construction de bateaux de plaisance</option>
        <option value="3020Z">30.20Z	Construction de locomotives et d'autre matériel ferroviaire roulant </option>
        <option value="3030Z">30.30Z	Construction aéronautique et spatiale </option>
        <option value="3040Z">30.40Z	Construction de véhicules militaires de combat </option>
        <option value="3091Z">30.91Z	Fabrication de motocycles</option>
        <option value="3092Z">30.92Z	Fabrication de bicyclettes et de véhicules pour invalides</option>
        <option value="3099Z">30.99Z	Fabrication d’autres équipements de transport n.c.a.</option>
        <option value="3101Z">31.01Z	Fabrication de meubles de bureau et de magasin</option>
        <option value="3102Z">31.02Z	Fabrication de meubles de cuisine </option>
        <option value="3103Z">31.03Z	Fabrication de matelas</option>
        <option value="3211Z">32.11Z	Frappe de monnaie</option>
        <option value="3212Z">32.12Z	Fabrication d’articles de joaillerie et bijouterie</option>
        <option value="3213Z">32.13Z	Fabrication d’articles de bijouterie fantaisie et articles similaires</option>
        <option value="3220Z">32.20Z	Fabrication d'instruments de musique</option>
        <option value="3230Z">32.30Z	Fabrication d'articles de sport</option>
        <option value="3240Z">32.40Z	Fabrication de jeux et jouets</option>
        <option value="3291Z">32.91Z	Fabrication d’articles de brosserie</option>
        <option value="3299Z">32.99Z	Autres activités manufacturières n.c.a. </option>
        <option value="3311Z">33.11Z	Réparation d'ouvrages en métaux</option>
        <option value="3312Z">33.12Z	Réparation de machines et équipements mécaniques</option>
        <option value="3313Z">33.13Z	Réparation de matériels électroniques et optiques</option>
        <option value="3314Z">33.14Z	Réparation d'équipements électriques</option>
        <option value="3315Z">33.15Z	Réparation et maintenance navale</option>
        <option value="3316Z">33.16Z	Réparation et maintenance d'aéronefs et d'engins spatiaux </option>
        <option value="3317Z">33.17Z	Réparation et maintenance d'autres équipements de transport</option>
        <option value="3319Z">33.19Z	Réparation d'autres équipements</option>
        <option value="3511Z">35.11Z	Production d'électricité</option>
        <option value="3512Z">35.12Z	Transport d'électricité</option>
        <option value="3513Z">35.13Z	Distribution d'électricité</option>
        <option value="3514Z">35.14Z	Commerce d'électricité</option>
        <option value="3521Z">35.21Z	Production de combustibles gazeux</option>
        <option value="3522Z">35.22Z	Distribution de combustibles gazeux par conduites</option>
        <option value="3523Z">35.23Z	Commerce de combustibles gazeux par conduites</option>
        <option value="3530Z">35.30Z	Production et distribution de vapeur et d'air conditionné </option>
        <option value="3600Z">36.00Z	Captage, traitement et distribution d'eau</option>
        <option value="3700Z">37.00Z	Collecte et traitement des eaux usées</option>
        <option value="3811Z">38.11Z	Collecte des déchets non dangereux</option>
        <option value="3812Z">38.12Z	Collecte des déchets dangereux</option>
        <option value="3821Z">38.21Z	Traitement et élimination des déchets non dangereux</option>
        <option value="3822Z">38.22Z	Traitement et élimination des déchets dangereux</option>
        <option value="3831Z">38.31Z	Démantèlement d'épaves</option>
        <option value="3832Z">38.32Z	Récupération de déchets triés</option>
        <option value="3900Z">39.00Z	Dépollution et autres services de gestion des déchets</option>
        <option value="4211Z">42.11Z	Construction de routes et autoroutes</option>
        <option value="4212Z">42.12Z	Construction de voies ferrées de surface et souterraines</option>
        <option value="4221Z">42.21Z	Construction de réseaux pour fluides</option>
        <option value="4222Z">42.22Z	Construction de réseaux électriques et de télécommunications</option>
        <option value="4291Z">42.91Z	Construction d'ouvrages maritimes et fluviaux</option>
        <option value="4299Z">42.99Z	Construction d'autres ouvrages de génie civil n.c.a.</option>
        <option value="4311Z">43.11Z	Travaux de démolition</option>
        <option value="4313Z">43.13Z	Forages et sondages</option>
        <option value="4331Z">43.31Z	Travaux de plâtrerie</option>
        <option value="4333Z">43.33Z	Travaux de revêtement des sols et des murs</option>
        <option value="4334Z">43.34Z	Travaux de peinture et vitrerie</option>
        <option value="4339Z">43.39Z	Autres travaux de finition</option>
        <option value="4511Z">45.11Z	Commerce de voitures et de véhicules automobiles légers</option>
        <option value="4519Z">45.19Z	Commerce d'autres véhicules automobiles</option>
        <option value="4531Z">45.31Z	Commerce de gros d'équipements automobiles</option>
        <option value="4532Z">45.32Z	Commerce de détail d'équipements automobiles</option>
        <option value="4540Z">45.40Z	Commerce et réparation de motocycles</option>
        46.11Z	Intermédiaires du commerce en matières premières agricoles, animaux vivants, matières premières textiles et <option value="</opion"></option>produits semi-finis
        <option value="4613Z">46.13Z	Intermédiaires du commerce en bois et matériaux de construction</option>
        <option value="4614Z">46.14Z	Intermédiaires du commerce en machines, équipements industriels, navires et avions</option>
        <option value="4615Z">46.15Z	Intermédiaires du commerce en meubles, articles de ménage et quincaillerie</option>
        <option value="4616Z">46.16Z	Intermédiaires du commerce en textiles, habillement, fourrures, chaussures et articles en cuir</option>
        <option value="4618Z">46.18Z	Intermédiaires spécialisés dans le commerce d'autres produits spécifiques</option>
        46.21Z	Commerce de gros (commerce interentreprises) de céréales, de tabac non manufacturé, de semences et d'aliments <option value="</opion"></option>pour le bétail 
        <option value="4622Z">46.22Z	Commerce de gros (commerce interentreprises) de fleurs et plantes</option>
        <option value="4623Z">46.23Z	Commerce de gros (commerce interentreprises) d'animaux vivants</option>
        <option value="4624Z">46.24Z	Commerce de gros (commerce interentreprises) de cuirs et peaux</option>
        <option value="4631Z">46.31Z	Commerce de gros (commerce interentreprises) de fruits et légumes</option>
        46.33Z	Commerce de gros (commerce interentreprises) de produits laitiers, œufs, huiles et matières grasses <option value="comestibes<">comestibles</option>
        <option value="4634Z">46.34Z	Commerce de gros (commerce interentreprises) de boissons</option>
        <option value="4635Z">46.35Z	Commerce de gros (commerce interentreprises) de produits à base de tabac</option>
        <option value="4636Z">46.36Z	Commerce de gros (commerce interentreprises) de sucre, chocolat et confiserie</option>
        <option value="4637Z">46.37Z	Commerce de gros (commerce interentreprises) de café, thé, cacao et épices</option>
        <option value="4641Z">46.41Z	Commerce de gros (commerce interentreprises) de textiles</option>
        <option value="4642Z">46.42Z	Commerce de gros (commerce interentreprises) d'habillement et de chaussures</option>
        <option value="4643Z">46.43Z	Commerce de gros (commerce interentreprises) d'appareils électroménagers</option>
        <option value="4644Z">46.44Z	Commerce de gros (commerce interentreprises) de vaisselle, verrerie et produits d'entretien</option>
        <option value="4645Z">46.45Z	Commerce de gros (commerce interentreprises) de parfumerie et de produits de beauté</option>
        <option value="4646Z">46.46Z	Commerce de gros (commerce interentreprises) de produits pharmaceutiques</option>
        <option value="4647Z">46.47Z	Commerce de gros (commerce interentreprises) de meubles, de tapis et d'appareils d'éclairage </option>
        <option value="4648Z">46.48Z	Commerce de gros (commerce interentreprises) d'articles d'horlogerie et de bijouterie</option>
        <option value="4649Z">46.49Z	Commerce de gros (commerce interentreprises) d'autres biens domestiques </option>
        46.51Z	Commerce de gros (commerce interentreprises) d'ordinateurs, d'équipements informatiques périphériques et de <option value="</opion"></option>logiciels
        46.52Z	Commerce de gros (commerce interentreprises) de composants et d'équipements électroniques et de <option value="télécommunicaton<">télécommunication</option>
        <option value="4661Z">46.61Z	Commerce de gros (commerce interentreprises) de matériel agricole</option>
        <option value="4662Z">46.62Z	Commerce de gros (commerce interentreprises) de machines-outils</option>
        46.63Z	Commerce de gros (commerce interentreprises) de machines pour l'extraction, la construction et le génie civil <option valu="<"></option>
        <option value="4664Z">46.64Z	Commerce de gros (commerce interentreprises) de machines pour l'industrie textile et l'habillement</option>
        <option value="4665Z">46.65Z	Commerce de gros (commerce interentreprises) de mobilier de bureau</option>
        <option value="4666Z">46.66Z	Commerce de gros (commerce interentreprises) d'autres machines et équipements de bureau </option>
        <option value="4671Z">46.71Z	Commerce de gros (commerce interentreprises) de combustibles et de produits annexes</option>
        <option value="4672Z">46.72Z	Commerce de gros (commerce interentreprises) de minerais et métaux</option>
        <option value="4675Z">46.75Z	Commerce de gros (commerce interentreprises) de produits chimiques</option>
        <option value="4676Z">46.76Z	Commerce de gros (commerce interentreprises) d'autres produits intermédiaires</option>
        <option value="4677Z">46.77Z	Commerce de gros (commerce interentreprises) de déchets et débris</option>
        <option value="4690Z">46.90Z	Commerce de gros (commerce interentreprises) non spécialisé</option>
        <option value="4721Z">47.21Z	Commerce de détail de fruits et légumes en magasin spécialisé</option>
        <option value="4722Z">47.22Z	Commerce de détail de viandes et de produits à base de viande en magasin spécialisé</option>
        <option value="4723Z">47.23Z	Commerce de détail de poissons, crustacés et mollusques en magasin spécialisé</option>
        <option value="4724Z">47.24Z	Commerce de détail de pain, pâtisserie et confiserie en magasin spécialisé</option>
        <option value="4725Z">47.25Z	Commerce de détail de boissons en magasin spécialisé</option>
        <option value="4726Z">47.26Z	Commerce de détail de produits à base de tabac en magasin spécialisé</option>
        <option value="4729Z">47.29Z	Autres commerces de détail alimentaires en magasin spécialisé </option>
        <option value="4730Z">47.30Z	Commerce de détail de carburants en magasin spécialisé</option>
        <option value="4741Z">47.41Z	Commerce de détail d'ordinateurs, d'unités périphériques et de logiciels en magasin spécialisé</option>
        <option value="4742Z">47.42Z	Commerce de détail de matériels de télécommunication en magasin spécialisé</option>
        <option value="4743Z">47.43Z	Commerce de détail de matériels audio et vidéo en magasin spécialisé</option>
        <option value="4751Z">47.51Z	Commerce de détail de textiles en magasin spécialisé</option>
        <option value="4753Z">47.53Z	Commerce de détail de tapis, moquettes et revêtements de murs et de sols en magasin spécialisé</option>
        <option value="4754Z">47.54Z	Commerce de détail d'appareils électroménagers en magasin spécialisé</option>
        <option value="4761Z">47.61Z	Commerce de détail de livres en magasin spécialisé</option>
        <option value="4762Z">47.62Z	Commerce de détail de journaux et papeterie en magasin spécialisé</option>
        <option value="4763Z">47.63Z	Commerce de détail d'enregistrements musicaux et vidéo en magasin spécialisé</option>
        <option value="4764Z">47.64Z	Commerce de détail d'articles de sport en magasin spécialisé</option>
        <option value="4765Z">47.65Z	Commerce de détail de jeux et jouets en magasin spécialisé</option>
        <option value="4771Z">47.71Z	Commerce de détail d'habillement en magasin spécialisé</option>
        <option value="4773Z">47.73Z	Commerce de détail de produits pharmaceutiques en magasin spécialisé</option>
        <option value="4774Z">47.74Z	Commerce de détail d'articles médicaux et orthopédiques en magasin spécialisé</option>
        <option value="4775Z">47.75Z	Commerce de détail de parfumerie et de produits de beauté en magasin spécialisé</option>
        47.76Z	Commerce de détail de fleurs, plantes, graines, engrais, animaux de compagnie et aliments pour ces animaux en <option value="</opion"></option>magasin spécialisé
        <option value="4777Z">47.77Z	Commerce de détail d'articles d'horlogerie et de bijouterie en magasin spécialisé</option>
        <option value="4779Z">47.79Z	Commerce de détail de biens d'occasion en magasin</option>
        <option value="4781Z">47.81Z	Commerce de détail alimentaire sur éventaires et marchés</option>
        <option value="4782Z">47.82Z	Commerce de détail de textiles, d'habillement et de chaussures sur éventaires et marchés</option>
        <option value="4789Z">47.89Z	Autres commerces de détail sur éventaires et marchés</option>
        <option value="4910Z">49.10Z	Transport ferroviaire interurbain de voyageurs</option>
        <option value="4920Z">49.20Z	Transports ferroviaires de fret </option>
        <option value="4931Z">49.31Z	Transports urbains et suburbains de voyageurs</option>
        <option value="4932Z">49.32Z	Transports de voyageurs par taxis</option>
        <option value="4942Z">49.42Z	Services de déménagement</option>
        <option value="4950Z">49.50Z	Transports par conduites</option>
        <option value="5010Z">50.10Z	Transports maritimes et côtiers de passagers</option>
        <option value="5020Z">50.20Z	Transports maritimes et côtiers de fret</option>
        <option value="5030Z">50.30Z	Transports fluviaux de passagers</option>
        <option value="5040Z">50.40Z	Transports fluviaux de fret </option>
        <option value="5110Z">51.10Z	Transports aériens de passagers</option>
        <option value="5121Z">51.21Z	Transports aériens de fret</option>
        <option value="5122Z">51.22Z	Transports spatiaux</option>
        <option value="5221Z">52.21Z	Services auxiliaires des transports terrestres</option>
        <option value="5222Z">52.22Z	Services auxiliaires des transports par eau</option>
        <option value="5223Z">52.23Z	Services auxiliaires des transports aériens</option>
        <option value="5310Z">53.10Z	Activités de poste dans le cadre d'une obligation de service universel </option>
        <option value="5320Z">53.20Z	Autres activités de poste et de courrier</option>
        <option value="5510Z">55.10Z	Hôtels et hébergement similaire </option>
        <option value="5520Z">55.20Z	Hébergement touristique et autre hébergement de courte durée </option>
        <option value="5530Z">55.30Z	Terrains de camping et parcs pour caravanes ou véhicules de loisirs</option>
        <option value="5590Z">55.90Z	Autres hébergements </option>
        <option value="5621Z">56.21Z	Services des traiteurs </option>
        <option value="5630Z">56.30Z	Débits de boissons</option>
        <option value="5811Z">58.11Z	Édition de livres</option>
        <option value="5812Z">58.12Z	Édition de répertoires et de fichiers d'adresses</option>
        <option value="5813Z">58.13Z	Édition de journaux</option>
        <option value="5814Z">58.14Z	Édition de revues et périodiques</option>
        <option value="5819Z">58.19Z	Autres activités d'édition</option>
        <option value="5821Z">58.21Z	Édition de jeux électroniques</option>
        <option value="5912Z">59.12Z	Post-production de films cinématographiques, de vidéo et de programmes de télévision</option>
        <option value="5914Z">59.14Z	Projection de films cinématographiques</option>
        <option value="5920Z">59.20Z	Enregistrement sonore et édition musicale </option>
        <option value="6010Z">60.10Z	Édition et diffusion de programmes radio</option>
        <option value="6110Z">61.10Z	Télécommunications filaires</option>
        <option value="6120Z">61.20Z	Télécommunications sans fil </option>
        <option value="6130Z">61.30Z	Télécommunications par satellite</option>
        <option value="6190Z">61.90Z	Autres activités de télécommunication </option>
        <option value="6201Z">62.01Z	Programmation informatique</option>
        <option value="6203Z">62.03Z	Gestion d'installations informatiques</option>
        <option value="6209Z">62.09Z	Autres activités informatiques</option>
        <option value="6311Z">63.11Z	Traitement de données, hébergement et activités connexes</option>
        <option value="6312Z">63.12Z	Portails Internet</option>
        <option value="6391Z">63.91Z	Activités des agences de presse</option>
        <option value="6399Z">63.99Z	Autres services d'information n.c.a.</option>
        <option value="6411Z">64.11Z	Activités de banque centrale</option>
        <option value="6419Z">64.19Z	Autres intermédiations monétaires</option>
        <option value="6420Z">64.20Z	Activités des sociétés holding</option>
        <option value="6430Z">64.30Z	Fonds de placement et entités financières similaires</option>
        <option value="6491Z">64.91Z	Crédit-bail </option>
        <option value="6492Z">64.92Z	Autre distribution de crédit</option>
        <option value="6499Z">64.99Z	Autres activités des services financiers, hors assurance et caisses de retraite, n.c.a.</option>
        <option value="6511Z">65.11Z	Assurance vie</option>
        <option value="6512Z">65.12Z	Autres assurances</option>
        <option value="6520Z">65.20Z	Réassurance</option>
        <option value="6530Z">65.30Z	Caisses de retraite</option>
        <option value="6611Z">66.11Z	Administration de marchés financiers</option>
        <option value="6612Z">66.12Z	Courtage de valeurs mobilières et de marchandises</option>
        <option value="6621Z">66.21Z	Évaluation des risques et dommages</option>
        <option value="6622Z">66.22Z	Activités des agents et courtiers d'assurances</option>
        <option value="6629Z">66.29Z	Autres activités auxiliaires d'assurance et de caisses de retraite</option>
        <option value="6630Z">66.30Z	Gestion de fonds</option>
        <option value="6810Z">68.10Z	Activités des marchands de biens immobiliers</option>
        <option value="6831Z">68.31Z	Agences immobilières</option>
        <option value="6910Z">69.10Z	Activités juridiques</option>
        <option value="6920Z">69.20Z	Activités comptables</option>
        <option value="7010Z">70.10Z	Activités des sièges sociaux</option>
        <option value="7021Z">70.21Z	Conseil en relations publiques et communication</option>
        <option value="7022Z">70.22Z	Conseil pour les affaires et autres conseils de gestion</option>
        <option value="7111Z">71.11Z	Activités d'architecture </option>
        <option value="7211Z">72.11Z	Recherche-développement en biotechnologie</option>
        <option value="7219Z">72.19Z	Recherche-développement en autres sciences physiques et naturelles</option>
        <option value="7220Z">72.20Z	Recherche-développement en sciences humaines et sociales</option>
        <option value="7311Z">73.11Z	Activités des agences de publicité</option>
        <option value="7312Z">73.12Z	Régie publicitaire de médias</option>
        <option value="7320Z">73.20Z	Études de marché et sondages</option>
        <option value="7410Z">74.10Z	Activités spécialisées de design</option>
        <option value="7420Z">74.20Z	Activités photographiques</option>
        <option value="7430Z">74.30Z	Traduction et interprétation</option>
        <option value="7500Z">75.00Z	Activités vétérinaires</option>
        <option value="7712Z">77.12Z	Location et location-bail de camions</option>
        <option value="7721Z">77.21Z	Location et location-bail d'articles de loisirs et de sport </option>
        <option value="7722Z">77.22Z	Location de vidéocassettes et disques vidéo</option>
        <option value="7729Z">77.29Z	Location et location-bail d'autres biens personnels et domestiques</option>
        <option value="7731Z">77.31Z	Location et location-bail de machines et équipements agricoles</option>
        <option value="7732Z">77.32Z	Location et location-bail de machines et équipements pour la construction</option>
        <option value="7733Z">77.33Z	Location et location-bail de machines de bureau et de matériel informatique</option>
        <option value="7734Z">77.34Z	Location et location-bail de matériels de transport par eau</option>
        <option value="7735Z">77.35Z	Location et location-bail de matériels de transport aérien</option>
        <option value="7739Z">77.39Z	Location et location-bail d'autres machines, équipements et biens matériels n.c.a. </option>
        77.40Z	Location-bail de propriété intellectuelle et de produits similaires, à l'exception des œuvres soumises à <option value="copyriht<">copyright</option>
        <option value="7810Z">78.10Z	Activités des agences de placement de main-d'œuvre </option>
        <option value="7820Z">78.20Z	Activités des agences de travail temporaire </option>
        <option value="7830Z">78.30Z	Autre mise à disposition de ressources humaines</option>
        <option value="7911Z">79.11Z	Activités des agences de voyage</option>
        <option value="7912Z">79.12Z	Activités des voyagistes</option>
        <option value="7990Z">79.90Z	Autres services de réservation et activités connexes</option>
        <option value="8010Z">80.10Z	Activités de sécurité privée </option>
        <option value="8020Z">80.20Z	Activités liées aux systèmes de sécurité </option>
        <option value="8030Z">80.30Z	Activités d'enquête</option>
        <option value="8110Z">81.10Z	Activités combinées de soutien lié aux bâtiments </option>
        <option value="8121Z">81.21Z	Nettoyage courant des bâtiments</option>
        <option value="8122Z">81.22Z	Autres activités de nettoyage des bâtiments et nettoyage industriel</option>
        <option value="8130Z">81.30Z	Services d'aménagement paysager </option>
        <option value="8211Z">82.11Z	Services administratifs combinés de bureau</option>
        <option value="8219Z">82.19Z	Photocopie, préparation de documents et autres activités spécialisées de soutien de bureau</option>
        <option value="8220Z">82.20Z	Activités de centres d'appels</option>
        <option value="8230Z">82.30Z	Organisation de foires, salons professionnels et congrès</option>
        82.91Z	Activités des agences de recouvrement de factures et des sociétés d'information financière sur la <option value="clientle<">clientèle</option>
        <option value="8292Z">82.92Z	Activités de conditionnement</option>
        <option value="8299Z">82.99Z	Autres activités de soutien aux entreprises n.c.a.</option>
        <option value="8411Z">84.11Z	Administration publique générale</option>
        84.12Z	Administration publique (tutelle) de la santé, de la formation, de la culture et des services sociaux, autre que <option value="</opion"></option>sécurité sociale 
        <option value="8413Z">84.13Z	Administration publique (tutelle) des activités économiques</option>
        <option value="8421Z">84.21Z	Affaires étrangères</option>
        <option value="8422Z">84.22Z	Défense</option>
        <option value="8423Z">84.23Z	Justice</option>
        <option value="8424Z">84.24Z	Activités d’ordre public et de sécurité</option>
        <option value="8425Z">84.25Z	Services du feu et de secours</option>
        <option value="8510Z">85.10Z	Enseignement pré-primaire</option>
        <option value="8520Z">85.20Z	Enseignement primaire</option>
        <option value="8531Z">85.31Z	Enseignement secondaire général</option>
        <option value="8532Z">85.32Z	Enseignement secondaire technique ou professionnel</option>
        <option value="8541Z">85.41Z	Enseignement post-secondaire non supérieur</option>
        <option value="8542Z">85.42Z	Enseignement supérieur</option>
        <option value="8551Z">85.51Z	Enseignement de disciplines sportives et d'activités de loisirs</option>
        <option value="8552Z">85.52Z	Enseignement culturel</option>
        <option value="8553Z">85.53Z	Enseignement de la conduite</option>
        <option value="8560Z">85.60Z	Activités de soutien à l'enseignement</option>
        <option value="8610Z">86.10Z	Activités hospitalières</option>
        <option value="8621Z">86.21Z	Activité des médecins généralistes</option>
        <option value="8623Z">86.23Z	Pratique dentaire</option>
        <option value="9001Z">90.01Z	Arts du spectacle vivant</option>
        <option value="9002Z">90.02Z	Activités de soutien au spectacle vivant</option>
        <option value="9004Z">90.04Z	Gestion de salles de spectacles</option>
        <option value="9101Z">91.01Z	Gestion des bibliothèques et des archives</option>
        <option value="9102Z">91.02Z	Gestion des musées</option>
        <option value="9103Z">91.03Z	Gestion des sites et monuments historiques et des attractions touristiques similaires</option>
        <option value="9104Z">91.04Z	Gestion des jardins botaniques et zoologiques et des réserves naturelles</option>
        <option value="9200Z">92.00Z	Organisation de jeux de hasard et d'argent</option>
        <option value="9311Z">93.11Z	Gestion d'installations sportives</option>
        <option value="9312Z">93.12Z	Activités de clubs de sports</option>
        <option value="9313Z">93.13Z	Activités des centres de culture physique</option>
        <option value="9319Z">93.19Z	Autres activités liées au sport</option>
        <option value="9321Z">93.21Z	Activités des parcs d'attractions et parcs à thèmes</option>
        <option value="9329Z">93.29Z	Autres activités récréatives et de loisirs</option>
        <option value="9411Z">94.11Z	Activités des organisations patronales et consulaires</option>
        <option value="9412Z">94.12Z	Activités des organisations professionnelles</option>
        <option value="9420Z">94.20Z	Activités des syndicats de salariés</option>
        <option value="9491Z">94.91Z	Activités des organisations religieuses</option>
        <option value="9492Z">94.92Z	Activités des organisations politiques</option>
        <option value="9499Z">94.99Z	Autres organisations fonctionnant par adhésion volontaire</option>
        <option value="9511Z">95.11Z	Réparation d'ordinateurs et d'équipements périphériques</option>
        <option value="9512Z">95.12Z	Réparation d'équipements de communication</option>
        <option value="9521Z">95.21Z	Réparation de produits électroniques grand public</option>
        <option value="9522Z">95.22Z	Réparation d'appareils électroménagers et d'équipements pour la maison et le jardin</option>
        <option value="9523Z">95.23Z	Réparation de chaussures et d'articles en cuir</option>
        <option value="9524Z">95.24Z	Réparation de meubles et d'équipements du foyer</option>
        <option value="9525Z">95.25Z	Réparation d'articles d'horlogerie et de bijouterie</option>
        <option value="9529Z">95.29Z	Réparation d'autres biens personnels et domestiques</option>
        <option value="9603Z">96.03Z	Services funéraires</option>
        <option value="9604Z">96.04Z	Entretien corporel</option>
        <option value="9609Z">96.09Z	Autres services personnels n.c.a.</option>
        <option value="9700Z">97.00Z	Activités des ménages en tant qu'employeurs de personnel domestique</option>
        <option value="9810Z">98.10Z	Activités indifférenciées des ménages en tant que producteurs de biens pour usage propre</option>
        <option value="9820Z">98.20Z	Activités indifférenciées des ménages en tant que producteurs de services pour usage propre</option>
        <option value="9900Z">99.00Z	Activités des organisations et organismes extraterritoriaux</option>
        
    </select>
    <div class="select7_items"></div>
</div>

<button type="submit">Submit</button>
</form>


<script>
  
</script>